This is a code to data analyze some csv files with learning purpose

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:


covid_data = pd.read_csv("covid-19-cases-uk.csv")

covid_data.head()

         Date  Country   AreaCode              Area  TotalCases
0  2020-01-30  England  E06000014              York         1.0
1  2020-02-03  England  E10000002   Buckinghamshire         1.0
2  2020-02-03    Wales  W11000028     Aneurin Bevan         0.0
3  2020-02-03    Wales  W11000023   Betsi Cadwaladr         0.0
4  2020-02-03    Wales  W11000029  Cardiff and Vale         0.0

In [3]:
covid_data.loc[covid_data.index[0],"TotalCasesSum"] = covid_data["TotalCases"].sum()
covid_data['TotalCasesSum'] = covid_data['TotalCasesSum'].fillna('')

covid_data.head()

         Date  Country   AreaCode              Area  TotalCases TotalCasesSum
0  2020-01-30  England  E06000014              York         1.0    24733348.0
1  2020-02-03  England  E10000002   Buckinghamshire         1.0
2  2020-02-03    Wales  W11000028     Aneurin Bevan         0.0
3  2020-02-03    Wales  W11000023   Betsi Cadwaladr         0.0
4  2020-02-03    Wales  W11000029  Cardiff and Vale         0.0

In [4]:
print("Rows")
print(covid_data.shape[0])
print("Columns")
print(covid_data.shape[1])

Rows
23775
Columns
6

In [5]:
column_names = list(covid_data.columns.values)
column_names

['Date', 'Country', 'AreaCode', 'Area', 'TotalCases', 'TotalCasesSum']

In [6]:
count_area_affect = covid_data[covid_data.columns[5]].count()

print("a total of {} Areas were affected".format(count_area_affect))

a total of 23775 Areas were affected

In [7]:
print("Uk cases average cases")


covid_data.loc[covid_data.index[0], 'AverageCases'] = covid_data['TotalCasesSum'][0] / count_area_affect

covid_data['AverageCases'] = covid_data['AverageCases'].fillna('')

covid_data.head()

Uk cases average cases

,Date,Country,AreaCode,Area,TotalCases,TotalCasesSum,AverageCases
0,2020-01-30,England,E06000014,York,1.0,24733348.0,1040.309064
1,2020-02-03,England,E10000002,Buckinghamshire,1.0,,
2,2020-02-03,Wales,W11000028,Aneurin Bevan,0.0,,
3,2020-02-03,Wales,W11000023,Betsi Cadwaladr,0.0,,
4,2020-02-03,Wales,W11000029,Cardiff and Vale,0.0,,